{% extends 'base.html' %}
{% load static %}

{% block header %}
    <h1 class="text-left mt-5">{{ heading }}</h1>
    <p class="lead text-left">{{ subheading }}</p>
{% endblock %}

{% block app_css %}
    <link rel="stylesheet" href="{% static "blog/css/styles.css" %}">
{% endblock %}

{% block content-1 %}
    <div class="row bg-white" style="height: 400px">
        <h1>Content Blog</h1>
    </div>
{% endblock %}

{% block content-2 %}
    <div class="row bg-info" style="height: 400px">
        <h1>Content Blog 2</h1>
    </div>
{% endblock %}